* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #3e6149e7;
    padding-top: 100px;
}

.conteiner {
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-color: #cbd8cfe7;
}
button{
    background-color: #3e6149e7;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

header {
    background-color: #253227;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    padding: 10px;
}
header h1{
    font-size: 40px;
    font-weight: bold;
    color: azure;
}

form{    
    display: flex;
    max-width: 940px;
    width: 100%;
    justify-content: space-between;
    gap: 10px; 
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: azure;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
    width: 40%; 
}

form button {
    font-size: 18px;
    background-color: #3e6149e7;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 20%; 
}

table {
    background-color: #034d19e7;
    color: azure;
    max-width: 960px;
    width: 100%;
    border-collapse: collapse;
    text-align: center; 
}

table th, table td {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    text-align: center; 
    vertical-align: middle; 
}

tbody {
    background-color: #2e4a32;
}

tbody tr {
    width: 100%;
}

tbody td {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}
